$yellow: #fffa19;
$black: #000000;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin pading($right, $left) {
    padding-right: $right;
    padding-left: $left;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 50px);
}

footer {
	padding: 10p 10 px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	@include pading(10px, 0px);
}


.tab-content {
    padding-top: 10px;
}

